<% if user_signed_in? %>
  <% if post_image.bookmarked_by?(current_user) %>
    <h5 class="card-text">
      <%= link_to "", post_image_bookmarks_path(post_image), method: :delete, remote: :true, class: "fas fa-bookmark bookbtn" %>
    </h5>
  <% else %>
    <h5 class="card-text">
      <%= link_to "", post_image_bookmarks_path(post_image), method: :post, remote: :true, class: "far fa-bookmark bookbtn" %>
    </h5>
  <% end %>
<% end %>