<% if user_signed_in? %>
  <% if post_image.favorited_by?(current_user) %>
    <h5 class="card-text">
      <%= link_to post_image.favorites.count, post_image_favorites_path(post_image), method: :delete, remote: :true, class: "fas fa-heart heart_red" %>
    </h5>
  <% else %>
    <h5 class="card-text">
      <%= link_to post_image.favorites.count, post_image_favorites_path(post_image), method: :post, remote: :true, class: "fas fa-heart heart_blue" %>
    </h5>
  <% end %>
<% end %>