<h3 class="font-weight-bold mt-4 text-center"><i class="fas fa-user"></i>ユーザー情報</h3>
<div class="profile-group">
  <div class="left-content text-center">
   <div><%= attachment_image_tag @user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg", size:'150x150', class: 'rounded-circle' %></div>
  </div>
  <div class="right-content">
    <h4 class="font-weight-bold mb-3">ユーザー名</h4>
    <p><%= @user.name %></p>
  </div>
</div>
<div class="mb-5">
   <%= link_to "",edit_user_path(@user.id),class: "btn btn-outline-secondary btn-block fas fa-user-cog" %>
</div>