<h3 class="font-weight-bold mt-4 text-center">ユーザー情報</h3>
<table class="table table-hover mt-4">
  <tr>
    <td>ユーザー名</td>
    <td><%= user.name %></td>
  </tr>
</table>
<div class="mb-5">
   <%= link_to "",edit_user_path(@user.id),class: "btn btn-outline-secondary btn-block fas fa-user-cog" %>
</div>