<div class="container">
  <div class="row justify-content-center">
    <div class="col-4 align-self-center">
      <h2>ユーザー情報</h2>
      <%= form_with model: @user,local:true do |f| %>
      <div class="field">
        <label>ユーザー名</label><br>
        <%= f.text_field:name, size: "50" %>
      </div>
      <div class="field">
        <label>メールアドレス</label><br>
        <%= f.text_field:email, size: "50" %>
      </div>
      <div class="action mt-3">
       <%= f.submit'変更内容を保存',class: "action btn btn-secondary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
