<div class="container mt-3">
  <div class="row">
    <div class="col-md-4">
      <%= render 'users/menu' %>
    </div>
    <div class="col-md-8">
      <h2 class="font-weight-bold"><i class="fas fa-heart heart-red"></i>いいねした投稿</h2>
        <%= render 'post_images/each', post_images: current_user.favorited_post_images %>
    </div>
  </div>
</div>