<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= render 'users/menu' %>
    </div>
    <div class="col-8 text-center">
      <div class="mt-5">
        <h2>本当に退会しますか？</h2>
        <div>
          <p class="mt-3">退会する場合は、『退会する』をクリックしてください。</p>
        </div>
        <div>
          <%= link_to '退会しない', user_path(@user),class: 'btn btn-secondary' %>
          <%= link_to "退会する", withdraw_user_path(@user), method: :patch,class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  </div>
</div>