<div class="container-fluid about-bg">
  <div class="row about-bg-wrapper text-center">
    <div class="col about_content">
      <h1 class="about-text1 m-5"><i class="fab fa-speakap fa-fw"></i>About</h1>
      <h6 class="about-text2">
        CafeTownはカフェの共有・検索ができるサイトです。<br>
        自分の訪れたカフェを投稿して共有する、新しく行きたいカフェを探す。<br>
　　　　カフェ巡りが好きなあなたのお気に入りを見つけられるアプリケーションです。<br>
      </h6>
    </div>
  </div>
</div>