<div class="container-fluid box-background">
  <div class="row">
    <div class="col-md-12">
      <div class="top-box">
        <h1 class="top-title font-weight-bold">ようこそ、CafeTownへ！</h1>
        <p class="top-text">
          このサイトは、カフェの共有・検索サイトになります。</br>
          会員でない方も投稿の閲覧はできますが、</br>
          新規投稿には会員登録が必要になります。
        </p>
      </div>
    </div>
  </div>
</div>
<% unless user_signed_in? %>
<p class="text-center m-4 mx-auto"><%= link_to 'お試しログイン', users_guest_sign_in_path, method: :post, class: 'btn btn-secondary fas fa-power-off btn-lg' %></p>
<% end %>
<% if @post_images.present? %>
<div class="mx-auto col-md-8 mt-4">
  <h2 class="font-weight-bold"><i class="fas fa-crown"></i>いいねランキング</h2>
  <%= render 'homes/top', post_images: @post_images %>
</div>
<div class="mx-auto col-md-8 mt-4">
  <h2 class="font-weight-bold mb-3"><i class="fas fa-edit"></i></i>新着の投稿</h2>
  <%= render 'homes/top', post_images: @posts.last(4) %>
    <div class="all_post_images">
      <%= link_to "全ての投稿を見る >", post_images_path, class: "link no-underline" %>
    </div>
  </div>
</div>
<% else %>
<div>
  <h2 class="font-weight-bold text-center mt-3">投稿がありません。</div>
<% end %>