/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "simple_calendar";

header {
    background-color:#FFFFE0;
}

// .about-bg {
//   background-image: url('about.jpg');
//   background-size: cover;
//   background-repeat: no-repeat;
//   height: 100vh;
//   position: relative;
//   background-position: center;
// }

.about-bg-wrapper {
   position: relative;
   height: 100vh;
   background: rgba(0, 0, 0, 0.5);
}

.about_content {
 text-align: center;
 color: #fff;
 margin-top: 240px;
 line-height: 1.5rem;
}

.about-text1 {
  margin-bottom: 20px;
  color: #fff;
}

.about-text2 {
  line-height: 2.0rem;
  letter-spacing: 6px;
  font-weight: bold;
}

.pagination {
  justify-content: center;
}

.map{
    
}