<div class="container mt-3">
  <div class="row">
    <div class="col-md-8 mb-3">
      <% if @post_images == [] %>
      <h2 class = "font-weight-bold">検索結果はありません</h2>
      <% else %>
      <h2 class="font-weight-bold"><i class="fas fa-search"></i>検索結果</h2>
      <%= render 'post_images/each', post_images: @post_images %>
      <% end %>
    </div>
  </div>
</div>
